form {
  width: 100%;
  margin: 0;
  text-align: center;
  .form-control {
    border: solid 0.1px gray;
    width: 90%;
  }
  input[type="submit" i] {
      position: absolute;
      right: 5%;
      border: solid 0.1px gray;
      outline: transparent;
    .btn {
    }
  }
}
